data/course_captions/
data/course_captions_filtered/
data/course_captions_parsed/
data/deft_corpus/
data/allcaptions-2021-09-24.csv.zip
data/allcaptions-2021-09-24.csv
week07/course_tfidf/
week01/corpus*
week01/noun*