data/course_captions/
data/course_captions_filtered/
data/course_captions_parsed/
data/deft_corpus/
data/allcaptions-2021-09-24.csv.zip
data/allcaptions-2021-09-24.csv
week07/course_tfidf/
week07/*.txt
data/*
!data/QG-CS241/

.obsidian
*.zip

package-lock.json
QuestionGeneration/models/GPT-3/api_key.json
*.pyc
syllabus/data/*

concept_graph_react/concept-graph/src/videos/*
week01/corpus_corrected.txt
week01/corpus_original.txt
week01/nounchunks.txt
.DS_Store
literatureQG/papers/*
